<!DOCTYPE HTML>

<html>
    <head>
        <title>Payment</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% load static %}
        <script src="{% static 'myjs.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins">
                {% load static %}
                <link rel="stylesheet" href="{% static 'mycss.css' %}">

    </head>
<style type="text/css">
            label{
            color: white;
        }

        

</style>
 


    <body>
                <!--nav class="navbar navbar-inverse" style="border-radius:0px !important; margin:0;border: 0">
                    <div class="container-fluid">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>                       
                          </button>
                          <a class="navbar-brand" href="index.html">Airline-X</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li><a href="index.html">Home</a></li>
                                <li class="active"><a href="booking.html">Booking</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="contactus.html">Contact Us</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></a></li>
                            </ul>
                            
                            <form class="navbar-form navbar-right">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                  <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                  </button>
                                </div>
                              </div>
                            </form>
                        </div>  
                    </div>
                </nav-->
                

                <div class="background-wrapper" style="background-image: url(images/airline/cc.jpg);">
                
                <!--header-->

                
                <div class="container-fluid">
                    <header>
                        <h2>Payment</h2>
                        <hr>
                    </header>
                    <br>
                    <br>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="panel-group">
                            <div class="panel panel-primary panel-transparent">
                                <div class="panel-heading">
                                    <legend style="text-align: center;">Payment Information</legend>
                                </div>
                                <div class="panel-body">


                                    <form action="http://localhost:8000/payment" method="post" class="form-horizontal"  style="padding: 0 5rem 0 5rem; width: 100%" >
                                            <div class="form-group">
                                                <label class="radio-inline">
                                                      <input type="radio" name="optradio" style="height: 5rem">
                                                      {% load static %}
                                                      <img src="{% static 'mastercard.png' %}" 
                                                      width="50" 
                                                      height="30">
                                                </label>
                                                <label class="radio-inline">
                                                      <input type="radio" name="optradio" style="height: 5rem">
                                                      {% load static %}
                                                      <img src="{% static 'visa.png' %}"
                                                      width="50" 
                                                      height="30">
                                                </label>
                                            </div>

                                                {% csrf_token %}
                                                {% load static %}

                                            <div class="form-group">
                                                
                                                <!--input name="ccnum" id="creditCard"   type="text" maxlength="19" placeholder="0000 0000 0000 0000" /--><br>


                                                <label for="name">Card Number</label>
                                                <input type="text" id="creditCard" maxlength="19" class="form-control trans-input-area" placeholder="0000-0000-0000-0000" name="ccnum" id="creditCard" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control trans-input-area" placeholder="Card Name" name="cardname" required>
                                            </div>

                                            <div class="form-group">
                                                <div style="float: left; width: 46%">
                                                <label for="Country">Expiry Date </label>
                                                <input type="month" class="form-control trans-input-area" placeholder="month/year" name="cardexp" id="" required>
                                            </div>
                                            <div style="float: right; width: 46%">
                                                <label for="Country">CVV</label>
                                                <input type="text" maxlength="3" class="form-control trans-input-area" placeholder="CVC" name="cardcvv" id="" required>
                                            </div>
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary btn-block trans-input-area" >Proceed To Payment</button>

                                            <!--button type="submit" onclick="window.location='http://localhost:8000/success';">Click To Pay</button><br/-->
                                            
                                             
                                        </form>
                                          


                                            <div class="text-center">
                                                <!-- Button HTML (to Trigger Modal) --> 
                                                <!--button type="submit" class="btn btn-primary btn-block trans-input-area" data-toggle="modal" data-target="#myModal"-->
                                                    <!--button type="button" class="btn btn-primary btn-block trans-input-area"-->

                                                    
                                                  </button> 
                                                </div>
                                            
                                       






                                     
               






                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <br>
                    <br>
                </div>

            <!-- Footer -->
            <footer id="footer" style="">
                <div class="container-fluid">
                    <ul class="icons">
                        <li><a href="#" class="fa fa-twitter" style="color: grey"></a></li>
                        <li><a href="#" class="fa fa-facebook" style="color: grey"></a></li>
                        <li><a href="#" class="fa fa-instagram" style="color: grey"></a></li>
                        <li><a href="#" class="fa fa-envelope" style="color: grey"></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    &copy; Airline-X. All rights reserved.
                </div>
            </footer>

    </body>
</html>




            
