@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
body,
html {
  height: 100%;
  font-family: "Alata";
  font-size: 80%;
  background-color: #fffead;
  color: #3A3134;
}

p {
  font-size: 130%;
  font-family: "Alata";
}

.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ticket {
  margin: auto;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #f7d71c;
  box-shadow: 0px 8px 60px -10px #ffda79;
}

.basic {
  height: 350px;
  width: 300px;
  border-style: hidden dashed hidden hidden;
}

.text {
  float: right;
  position: relative;
  left: -10%;
}

.fa-barcode {
  transform: rotate(-90deg) scale(1000%, 500%);
  font-size: 160%;
  position: relative;
  top: 47%;
  left: 20%;
}

.seat, .flight {
  float: left;
}

.flight {
  float: left;
}

.airline {
  height: 350px;
  width: 550px;
  background-color: white;
  font-size: 12px;
}

.item1 {
  padding-top: 7%;
  padding-left: 10%;
  padding-right: 10%;
}

.fa-plane {
  position: absolute;
  transform: scale(5, 5) rotate(45deg);
  font-size: 160%;
  top: 45%;
  left: 65%;
}

.from {
  float: left;
}

.to {
  padding-left: 50%;
  float: right;
}

.item2 {
  padding-top: 20%;
  padding-left: 20%;
  padding-right: 20%;
}

.gate {
  padding-top: 0%;
  float: left;
}

.time {
  float: right;
  
}
